{#
  Get symbol markup
  @param symbol: The symbol name (same as the svg file name, i.e. twitter, not icon-twitter)
#}
{% macro symbol(name) %}
	<i class="icon icon--{{ name }}">
		<svg>
			<use class="no-barba pointer-events-none" xlink:href="#{{ name }}"></use>
		</svg>
	</i>
{% endmacro %}



{% macro social(entry, className) %}
	{% set list = ['email', 'facebook', 'instagram', 'linkedin', 'twitter', 'website'] %}
	<ul class="flex items-center list-reset">
		{% for item in list %}
			{% if entry[item.key] is defined %}
				<li>
					<a class="block no-underline p-2 mr-2 {{ className }}" href="{{ item.value }}">
						{{ _self.symbol('ui-' ~ item.key) }}
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
{% endmacro %}


{% macro image(image) %}
	{% set base64 = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' %}
	{% set ratio = (image.height / image.width) * 100 ~ '%' %}
	<div class="w-full relative" style="padding-top: {{ ratio }}">
		<noscript>
			<img class="absolute pin object-fit w-full h-full" src="{{ image.url }}"  width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt }}" />
		</noscript>
		<img class="lazyload absolute pin object-fit w-full h-full" src="{{ base64 }}" data-src="{{ image.url }}"   width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt }}" />
	</div>
{% endmacro %}


{% macro srcset(image, className) %}
	{% set base64 = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7' %}
	<div class="w-full relative" style="padding-top: {{ image.aspect ~ '%' }}">
		<noscript>
			<img class="absolute pin object-fit w-full h-full" src="{{ image.url }}" srcset="{{ image.srcset }}" alt="{{ image.alt }}" />
		</noscript>
		<img class="lazyload absolute pin object-fit w-full h-full {{ className }}" src="{{ base64 }}" data-src="{{ image.url }}" data-srcset="{{ image.srcset }}" alt="{{ image.alt }}" />
	</div>
{% endmacro %}

{% macro maybeLink(content, link, options) %}


	{% set className = options is defined and options.className is defined ? options.className : '' %}
	{% set key = options is defined and options.key is defined ? options.key : 'url' %}

	{% if link is defined and link[key]|length %}
		<a href="{{ link[key] }}" {% if className|length %}class="{{ className }}"{% endif %}>
			{{ content|raw }}
		</a>
	{% else %}
		{{ content }}
	{% endif %}
{% endmacro %}
