{% import 'macros/_helpers.twig' as h %}

<footer class="c-footer">
	<div class="wrapper c-footer__row">
		<aside class="c-footer__group c-footer__group--popular">
			<h4 class="c-footer__heading">Popular Guides</h4>
			<div class="c-footer__row">
				{% for entry in guides %}
					<div class="c-footer__col">
						<h5 class="t-{{ entry.theme }} c-footer__title">{{ entry.title }}</h5>
						<ul class="r-list c-footer__list">
							{% for child in entry.children %}
								<li>
									<a href="{{ child.slug }}">{{ child.title }}</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</div>
		</aside>
		<aside class="c-footer__group c-footer__group--info">
			<h4 class="c-footer__heading">Info</h4>
			<ul class="r-list c-footer__list">
				{% for entry in info %}
					<li>
						<a href="{{ entry.slug }}">{{ entry.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</aside>
		<aside class="c-footer__group c-footer__group--community">
			<h4 class="c-footer__heading">Community</h4>
			{% include '@form--subscribe' %}
		</aside>
	</div>

	<div class="wrapper">	
		<div class="c-footer__row c-footer__row--last">
			<div class="c-footer__group c-footer__group--partners">
				<ul class="r-list c-footer__list c-footer__list--partners">
					<li><h4 class="c-footer__heading">Our Partners</h4></li>
					<li><img src="http://via.placeholder.com/150x40"></li>
					<li><img src="http://via.placeholder.com/150x40"></li>
				</ul>
			</div>
			<div class="c-footer__group c-footer__group--company">
				<ul class="r-list c-footer__list c-footer__list--social">
					<li><img src="http://via.placeholder.com/20x20"></li>
					<li><img src="http://via.placeholder.com/20x20"></li>
					<li><img src="http://via.placeholder.com/20x20"></li>
				</ul>
				<p class="c-footer__copy">{{ h.symbol('ui-foot') }} Copyright Footprint Travel Guides 2017</p>
			</div>
		</div>
	</div>
</footer>