<article class="c-teaser">
	<h3 class="c-teaser__heading">{{ title }}</h3>
	<img class="c-teaser__img lazyload" data-src="{{ image.src }}" alt="{{ image.alt }}" width="{{ image.width }}" height="{{ image.height }}" />
	<p>{{ body }}</p>
</article>
