<article class="c-teaser c-teaser--{{ modifier }}">
	<h2 class="c-teaser__heading">{{ title }}</h2>
	<img class="c-teaser__img  lazyload" data-src="{{ image.src }}" alt="{{ image.alt }}" width="{{ image.width }}" height="{{ image.height }}" />
	{% include '@author' %}
</article>