<div class="c-hero {% if nodifier %}c-hero--{{ modifier }}{% endif %} o-overlay">
	<picture>
		<source srcset="{{ image.desktop }}" media="(min-width: 960px)">
		<source srcset="{{ image.tablet }}" media="(min-width: 660px)">
		<source srcset="{{ image.mobile }}" media="(min-width: 320px)">
 		<img src="{{ image.desktop }}" alt="{{ image.alt }}" class="c-hero__img">
	</picture>
	<div class="c-hero__overlay">
		<div class="wrapper">
			<div class="c-hero__bd">
				<h1 class="c-hero__heading">{{ title }}</h1>
				<div class="c-hero__copy">
					<p>{{ body }}</p>
				</div>
			</div>
		</div>
	</div>
</div>