{% import 'macros/_helpers.twig' as h %}

<div class="c-hero c-hero--slide" data-behaviour="HeroSlide">
	<ul class="r-list c-hero__list">
		{% for entry in slides %}
			{% set image = entry.image %}
			{% set title = entry.title %}
			{% set pager = entry.item %}
			{% set body = entry.body %}
			{% set pager = entry.pager %}
			<li class="c-hero__item o-overlay {% if loop.index0 == 0 %}c-hero__item--current{% endif %}" data-slide-pager='{"title": "{{ pager.title }}","theme": "{{ pager.theme }}","body": "{{ pager.body }}"}'>
				<picture>
					<source srcset="{{ image.desktop }}" media="(min-width: 960px)">
					<source srcset="{{ image.tablet }}" media="(min-width: 660px)">
					<source srcset="{{ image.mobile }}" media="(min-width: 320px)">
					<img src="{{ image.desktop }}" alt="{{ image.alt }}" class="c-hero__img">
				</picture>
				<div class="c-hero__overlay">
					<div class="wrapper">
						<div class="c-hero__bd">
							<h1 class="c-hero__heading">{{ title }}</h1>
							<div class="c-hero__copy">
								<p>{{ body }}</p>
							</div>
						</div>
						<span class="c-hero__caption">
							{{ h.symbol('ui-foot') }}
							{{ entry.caption }}
						</span>
					</div>
				</div>

			</li>
		{% endfor %}
	</ul>
</div>